@use "../abstracts/variables" as v;

.header {
    display: flex;
    flex-direction: column;
    background: url(../../../images/mobile/image-hero.jpg) no-repeat top/cover;
    position: relative;
    padding: 3rem 1.5rem;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header_logo {
            max-height: 1.5rem;
            position: relative;
            z-index: 1;
        }

        .menu_icon {
            position: relative;
            z-index: 1;
        }
    }

    .title {
        outline: 2px solid v.$white;
        text-transform: uppercase;
        color: v.$white;
        font-size: calc(v.$fs) * 2.675;
        padding: 1.5rem;
        padding-bottom: 1rem;
        margin-block: 10rem;
        line-height: 1;
    }
}