@use "../abstracts/variables" as v;

.leader {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-block: 6rem;
    padding-inline: v.$pad-inline-mob;

    .leader_img {

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .text {
        text-align: center;

        .title {
            text-transform: uppercase;
            font-size: 2.5rem;
        }

        .description {
            margin-block: 0;
            margin-inline: 1rem;
            line-height: 1.5;
        }
    }
}

@media screen and (min-width: 1024px) {
    .leader {
        flex-direction: row;
        align-items: flex-end;
        padding-inline: v.$pad-inline-des;
        position: relative;

        .leader_img {
            height: 30.625rem;
        }

        .text {
            background-color: v.$white;
            padding-block: 6rem 0;
            padding-inline: 6.25rem 0;
            text-align: left;
            max-width: 30rem;
            position: absolute;
            right: 10rem;

            .title {
                font-size: calc(v.$fs * 3);
                margin-block: 1.5rem;
            }

            .description {
                margin: 0;
            }
        }
    }
}